<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educación 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, amet
                   ex voluptas labore adipisci incidunt facilis debitis nihil quod corrupti 
                   ut et ipsa deserunt perferendis accusamus minima ipsum? Natus, deserunt!
                </p>
        </ul>
        <ul>
            <li><h1>Educación 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, amet
                   ex voluptas labore adipisci incidunt facilis debitis nihil quod corrupti 
                   ut et ipsa deserunt perferendis accusamus minima ipsum? Natus, deserunt!
                </p>
        </ul>
        <ul>
            <li><h1>Educación 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, amet
                   ex voluptas labore adipisci incidunt facilis debitis nihil quod corrupti 
                   ut et ipsa deserunt perferendis accusamus minima ipsum? Natus, deserunt!
                </p>
        </ul>
    </div>
</div>
