.row{
    padding: 25px
}

div{
    background-color: #30085e;
    text-align: center;
}

h1{
    color:antiquewhite;
}

h1,h3{
    display: inline;
}

h3{
    color:antiquewhite;
}

p{
    color: antiquewhite;
}

footer{
    color: antiquewhite;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #000000;
}